{{if (eq .Stage "Run")}}
<script type="text/javascript">
    window.onload = setupRefresh;
    function setupRefresh() {
      setTimeout("refreshPage();", 3000); // milliseconds
    }
    function refreshPage() {
        document.frform.submit();
    }
</script>
    <form name="frform" id="frform" method="POST" action="/">
    <input type="hidden" name="frfile" id="frfile" value="{{.Frfile}}">
    <input type="hidden" name="stage" id="stage" value="Run">
    </form>
<br>
Program: {{.Frfile}}<br>
Frequency: {{.Frequency}}<br>
Amplitude: {{.Amplitude}}<br>
Waveform: {{.Waveform}}<br>
Time to go: {{.TimeToGo}}<br>
{{end}}
{{if (eq .Stage "Ended")}}
<script type="text/javascript">
    window.onload = setupRefresh;
    function setupRefresh() {
      setTimeout("refreshPage();", 10000); // milliseconds
    }
    function refreshPage() {
        document.frform.submit();
    }
</script>
<h1>Program {{.Frfile}} has ended</h1>
    <form name="frform" id="frform" method="POST" action="/">
    <input type="hidden" name="frfile" id="frfile" value="{{.Frfile}}">
    <input type="hidden" name="stage" id="stage" value="Initial">
    </form>
<br>
{{end}}
{{if (eq .Stage "Success")}}
<script type="text/javascript">
    window.onload = setupRefresh;
    function setupRefresh() {
      setTimeout("refreshPage();", 3000); // milliseconds
    }
    function refreshPage() {
	document.frform.submit();
    }
</script>
<h1>File {{.Frfile}} chosen, the program will be started</h1>
    <form name="frform" id="frform" method="POST" action="/">
    <input type="hidden" name="frfile" id="frfile" value="{{.Frfile}}">
    <input type="hidden" name="stage" id="stage" value="Run">
    </form>
<br>
{{end}}
{{if (eq .Stage "Initial")}}
<script type="text/javascript">
function submitform()
{
  document.getElementById("stage").value = "Initial";
  document.frform.submit();
}
</script>
    <h1>Frequency Generator</h1>
    <form name="frform" id="frform" method="POST" action="/">
        <label>Method:</label><br />
	<select name="frmethod" onchange="submitform()">
  	  <option {{if (eq .Frmethod "Audio")}}selected{{end}}>Audio</option>
  	  <option {{if (eq .Frmethod "FY2300")}}selected{{end}}>FY2300</option>
	  <option {{if (eq .Frmethod "PEMF-Test")}}selected{{end}}>PEMF-Test</option>
	</select><br />
        <label>File:</label><br />
	<select name="frfile">
    	{{range .Frfiles}}
            	<option>{{.Frfile}}</option>
    	{{end}}
	</select><br /><br />
        <input type="submit" value="Process">
	<input type="hidden" name="stage" id="stage" value="Success">
    </form>
{{end}}
