{{if (eq .Stage "Success")}}
    <h1>Datei {{.Frfile}} ausgewählt, Programm gestartet</h1>
{{else}}
<script type="text/javascript">
function submitform()
{
  document.getElementById("stage").value = "change";
  document.frform.submit();
}
</script>
    <h1>Frequency Generator</h1>
    <form name="frform" id="frform" method="POST" action="/">
        <label>Method:</label><br />
	<select name="frmethod" onchange="submitform()">
  	  <option {{if (eq .Frmethod "Audio")}}selected{{end}}>Audio</option>
  	  <option {{if (eq .Frmethod "FY2300")}}selected{{end}}>FY2300</option>
	  <option {{if (eq .Frmethod "PEMF-Test")}}selected{{end}}>PEMF-Test</option>
	</select><br />
        <label>File:</label><br />
	<select name="frfile">
    	{{range .Frfiles}}
            	<option>{{.Frfile}}</option>
    	{{end}}
	</select><br /><br />
        <input type="submit" value="Process">
	<input type="hidden" name="stage" id="stage" value="Success">
    </form>
{{end}}
