{{if .Success}}
    <h1>Thanks for your message!</h1>
{{else}}
    <h1>Frequency Generator</h1>
    <form method="POST">
        <label>Method:</label><br />
	<select name="frmethod">
  	  <option>Audio</option>
  	  <option>FY2300</option>
	  <option>PEMF-Test</option>
	</select><br />
        <label>File:</label><br />
	<select name="frfile">
    	{{range .Frfiles}}
            	<option>{{.Frfile}}</option>
    	{{end}}
	</select><br /><br />
        <input type="submit" value="Process">
    </form>
{{end}}
